{% extends 'base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        Личный кабинет
	{% else %}
		Система опросов
	{% endif  %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Вы в системе, здесь будет список опросов.</p>
	{% else %}
		<p>Для пользования сервисом войдите в личный кабинет.</p>
	{% endif  %}

    <br>
    <br>
    <h1>Система обработки и сохранения данных об опросах.</h1>
    <p>Здесь будет описание продукта для будущих пользователей</p>

{% endblock %}